
header {
  position: absolute;
  background-color: Yellow;
  width: 100%;
  height: 56px;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: gray;
}
.beer-list-container {
  display: block;
  margin-top: 56px;
  background-color: brown;
  width: 300px;
  overflow: hidden;
  padding-bottom: 56px;
}
.beer-list {
  background-color: green;
  overflow: scroll;
  height: 100%;
}
.map-container {
  padding-top: 56px;
  background-color: cyan;
  width: 100%;
  height: calc(1000% -56px);
}
#map {
  height: 100%;
  width: 100%;
}

/* infowindow */

.place {
  display: flex;
  flex-wrap: nowrap;
}

.place-title,
.place-contact,
.place-phone {
  font-size: 1.2em;
  margin: 0 0 0 10px;
}

.place-data {
  font-style: italic;
  margin: 0 0 0 10px;
}

.place-phone {
  color: #4e595d;
  font-weight: bold;
  text-decoration: none;
}

.place-contact,
.place-data,
.place-tip,
.place-phone {
  font-size: .9em;
}

.place-tip {
  font-style: italic;
}

.place-link {
  color: #f94877;
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0 0 10px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
}

.place-link:hover,
.place-phone:hover {
  color: #3594c5;
}

.fs-link {
  height: 30px;
  vertical-align: middle;
}

.venue-error {
  color: #f94877;
  text-align: center;
}