/* App */

ul {
  list-style: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  background-color: #281d19;
  width: 100%;
  height: 56px;
  align-items: center;
}

.header-menu svg {
  width: 40px;
  fill: #a39d9d;
  padding: 8px;
}

.app-header {
  color: #f2dbc4;
  font-size: 2em;
  font-family: 'Catamaran', sans-serif;
  align-self: center;
  margin-left: 20px;
}

/* Map */
.map-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.map-container>div{
  transition: all .3s;
}
#map {
  flex: 1 0 0;
}

/* Beer List */

.beer-list-container {
  background-color: #a39d9d;
  width: 0px;
  flex: 0 0 0;
  overflow: hidden;
  padding-bottom: 60px;
}
.open {
  flex: 0 0 250px;
}

.filter-brewery input {
  width: 90%;
  height: 24px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.beer-list {
    font-family: 'Catamaran', sans-serif;
  overflow: scroll;
  height: 100%;
  width: 90%;
  padding: 0;
  margin: auto;
}

.brewery-list-item {
  text-align: center;
  background-color: #d4dad6;
  height: fit-content;
  align-content: center;
}
.brewery-list-item:hover {
  cursor: pointer;
}

.brewery-name {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.3;
  padding: 10px 5px 0 5px;
}
.brewery-city {
font-weight: 300;
font-style: italic;  
font-size: .8em;
line-height: 1;
margin-top: -10px;
padding-top: 0;
}

/* infowindow */
.gm-style-iw {
  max-width: 250px !important;
}

.place {
  display: flex;
  flex-wrap: nowrap;
}
.place a,
.place-footer a {
  text-decoration: none;
   color: #281d19; 
}
.place a:visited,
.place-footer a:visited {
  color: #3f531;
}

.place a:hover,
.place-footer a:hover, 
.place-phone:hover {
  color: #d4dad6;
}

.place-title,
.place-contact,
.place-phone,
.place-web {
  font-size: 1.2em;
  margin: 0 0 0 10px;
}

.place-data {
  font-style: italic;
  margin: 0 0 0 10px;
}

.place-phone {
  color: #3f3531;
  font-weight: bold;
  text-decoration: none;
}

.place-contact,
.place-data,
.place-tip,
.place-phone {
  font-size: .9em;
}
.place-web {
  font-family: 'Catamaran', sans-serif;
  margin-top: 5px;
  font-size: .8em;
  text-align: center;
}

.place-tip {
  font-style: italic;
}



.venue-error {
  color: #3f3531;
  text-align: center;
}

/* Responsive Styles */
 @media screen and (max-width: 600px) {
  .app-header {
    font-size: 1.4em;
    line-height: 1;
    padding-right: 5px;
  }
  .open {
    flex: 0 0 120px;
  }
  .brewery-name {
    font-size: .9em;
  }
  .brewery-city {
    font-size: .7em;
  }

  .gm-style-iw {
    max-width: 120px !important;
  }
  .place-photo {
    display: none;
  }
  .place-tip {
  font-size: .8em;
  }
  .place-title,
  .place-contact,
  .place-phone,
  .place-web {
    margin: 0;
  }
  .place-title {
    font-size: 1em;
  }
}
